{%- comment -%}
  Home page pointer to /games/: the games aren't listed on the home page, just
  this one link.
{%- endcomment -%}
<div class="container py-4" id="games">
  <a class="tf-games-link" href="{{ site.baseurl }}/games/">
    <span class="tf-games-link-text">
      <span class="tf-games-link-title">Games</span>
      <span class="tf-games-link-lead">ゲームはこちらから</span>
    </span>
    <svg class="tf-games-link-arrow" viewBox="0 0 16 16" width="24" height="24" aria-hidden="true"><path d="M3 8h10M9 4l4 4-4 4" fill="none" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/></svg>
  </a>
</div>
